---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 28 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I am a full-time employee working in an Investment Bank, pursuing a part-time Masters in Computing at the National University of Singapore.
	</p>
	<p>
		I graduated from Singapore University of Social Sciences with a Bachelor of Science in Supply Chain Management and a minor in International Trade Management. I also hold certifications in Import/Export, Foundations in AI, and Introduction to Programming Using Python. I have previous experience as a Business Analyst at Nifco America Corp. and a Supply Chain Analyst at foodpanda, where I assisted in financial activities, pinpointed key improvement areas, and collaborated closely with teams to identify and solve inventory issues. 
	</p>

	<p>
		I believe that technology has the capability to empower anyone, and I am motivated to learn and develop my skills in banking and financial services, a dynamic and challenging industry. I value stakeholder management, business case analysis, problem-solving, and project management, which I gained from my internships and education. I am a Singaporean who speaks English, Chinese, and Japanese, and I am interested in data analytics, software development, and ops.
	</p>
</Layout>
